<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stanley.uams.mapper.master.auth.SysLogsMapper">
  <sql id="Base_Column_List">id_key,func_menu_nm,func_oper_nm,oper_id,oper_nm,oper_remark,oper_dt
  </sql>

  <sql id="Base_Column_List_VO">t.id_key,t.func_menu_nm,t.func_oper_nm,t.oper_id,t.oper_nm,t.oper_remark,t.oper_dt
  </sql>

  <!-- 通用where条件-->
  <sql id="selectiveWhere">
    <where>
      <if test='funcMenuNm != null and funcMenuNm !=""'>
        and func_menu_nm=#{funcMenuNm,jdbcType=VARCHAR}
      </if>
      <if test='funcOperNm != null and funcOperNm !=""'>
        and func_oper_nm=#{funcOperNm,jdbcType=VARCHAR}
      </if>
      <if test='operId != null'>
        and oper_id=#{operId,jdbcType=INTEGER}
      </if>
      <if test='operNm != null and operNm !=""'>
        and oper_nm=#{operNm,jdbcType=VARCHAR}
      </if>
      <if test='operRemark != null and operRemark !=""'>
        and oper_remark=#{operRemark,jdbcType=VARCHAR}
      </if>
      <if test='operDt != null'>
        and oper_dt=#{operDt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <!-- 根据主键删除记录-->
  <delete id="deleteByPrimaryKey"  parameterType="int">
    delete  from sys_logs where id_key=#{idKey,jdbcType=INTEGER}
  </delete>

  <!-- 批量删除记录-->
  <delete id="deleteBatch" parameterType="map">
    delete from sys_logs
    where id_key in <foreach item="item" index="index" collection="dataListID" open="(" separator="," close=")">${item}</foreach>
  </delete>

  <!-- 增加记录-->
  <insert id="insert" parameterType="SysLogs" useGeneratedKeys="true" keyProperty="idKey">
    insert into sys_logs(
      func_menu_nm,func_oper_nm,oper_id,oper_nm,oper_remark,oper_dt)
    values(
      #{funcMenuNm,jdbcType=VARCHAR},
		#{funcOperNm,jdbcType=VARCHAR},#{operId,jdbcType=INTEGER},
		#{operNm,jdbcType=VARCHAR},#{operRemark,jdbcType=VARCHAR},
		#{operDt,jdbcType=TIMESTAMP})
  </insert>

  <!-- 根据主键修改记录-->
  <update id="updateByPrimaryKeySelective" parameterType="SysLogs">
    update sys_logs
    <set>
      <if test='funcMenuNm != null'>
        func_menu_nm=#{funcMenuNm,jdbcType=VARCHAR},
      </if>
      <if test='funcOperNm != null'>
        func_oper_nm=#{funcOperNm,jdbcType=VARCHAR},
      </if>
      <if test='operId != null'>
        oper_id=#{operId,jdbcType=INTEGER},
      </if>
      <if test='operNm != null'>
        oper_nm=#{operNm,jdbcType=VARCHAR},
      </if>
      <if test='operRemark != null'>
        oper_remark=#{operRemark,jdbcType=VARCHAR},
      </if>
      <if test='operDt != null'>
        oper_dt=#{operDt,jdbcType=TIMESTAMP},
      </if>
    </set>
      where id_key= #{idKey,jdbcType=INTEGER}
  </update>

  <!-- 分页查询-->
  <select id="selectPage" resultType="SysLogsVO" parameterType="Page">
    select 
    <include refid="Base_Column_List_VO"/>
    from sys_logs t
    <where>
    t.oper_dt between #{params.startDatetime} and #{params.endDatetime}
 		<if test='params.funcMenuNm != null and params.funcMenuNm !=""'>
			and t.func_menu_nm =#{params.funcMenuNm,jdbcType=VARCHAR}
		</if>
		<if test='params.funcOperNm != null and params.funcOperNm !=""'>
			and t.func_oper_nm =#{params.funcOperNm,jdbcType=VARCHAR}
		</if>
		<if test='params.operRemark != null and params.operRemark !=""'>
			and t.oper_remark like concat('%',#{params.operRemark,jdbcType=VARCHAR},'%')
		</if>
	    <if test='params.operNm != null and params.operNm !=""'>
			and t.oper_nm like concat('%',#{params.operNm,jdbcType=VARCHAR},'%')
		</if>
    </where>
  </select>

  <!-- 导出excel-->
  <select id="toExcel" resultType="SysLogsVO" parameterType="map">
    select 
    <include refid="Base_Column_List_VO"/>
    from sys_logs t
    <where>
    t.oper_dt between #{startDatetime} and #{endDatetime}
 		<if test='funcMenuNm != null and funcMenuNm !=""'>
			and t.func_menu_nm =#{funcMenuNm,jdbcType=VARCHAR}
		</if>
		<if test='funcOperNm != null and funcOperNm !=""'>
			and t.func_oper_nm =#{funcOperNm,jdbcType=VARCHAR}
		</if>
		<if test='operRemark != null and operRemark !=""'>
			and t.oper_remark like concat('%',#{operRemark,jdbcType=VARCHAR},'%')
		</if>
	    <if test='operNm != null and operNm !=""'>
			and t.oper_nm like concat('%',#{operNm,jdbcType=VARCHAR},'%')
		</if>
    </where>
  </select>

  <!-- 根据主键查找记录-->
  <select id="selectByPrimaryKey" resultType="SysLogs" parameterType="int">
    select 
    <include refid="Base_Column_List"/>
    from sys_logs
    where id_key= #{idKey,jdbcType=INTEGER}
  </select>

  <!-- 根据bean的属性查找多条记录-->
  <select id="selectAllBySelective" resultType="SysLogs" parameterType="SysLogs">
    select
    <include refid="Base_Column_List"/>
    from sys_logs
    <include refid="selectiveWhere"/>
  </select>
 
  <!-- 根据bean的唯一属性查找一条记录-->
  <select id="selectOneBySelective" resultType="SysLogs" parameterType="SysLogs">
    select
    <include refid="Base_Column_List"/>
    from sys_logs
    <include refid="selectiveWhere"/>
    LIMIT 1
  </select>

</mapper>
